<h1><%= @book.title %> (<%= @book.pages %> pages)</h1>
<h2>Authors:</h2>
<ul>
  <% @book.authorships.each do |authorship| %>
    <li>
      <%= link_to "#{ authorship.author.name } (b. #{ authorship.author.birth_year })", author_path(authorship.author) %>
      <%= form_for [@book, authorship], method: :delete, local: true do |form| %>
        <%= form.submit "Remove author" %>
      <% end%>
    </li>
  <% end%>
</ul>

<%= render "authorships/form" %>